.main-content {
  flex: 1;
  padding: 2rem 1rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}